

.user-image2 {
  position: relative;
  width: fit-content;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.progress-number {
  position: absolute;
  right: -16px;
  width: 27px;
  height: 27px;
  background: #3361FF;
  color:white ;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
img{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
}
