
.parent {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  background: #1c2841;
  flex-direction: column;
}

.containerq {
  width: 700px;
  margin-top: 100px;
  text-align: center;
}

.entryarea {
  position: relative;
  height: 80px;
}

.txtinput {
  position: absolute;
  width: calc(100% - 60px); /* Adjust width based on your preference */
  left: 0;
  top: 0;
  outline: none;
  font-size: 2.2em;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 10px;
  border: 2px solid #f0ffff;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelline {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 1.6em;
  color: #f0ffff;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.txtinput:focus,
.txtinput:valid {
  color: #66ff44;
  border: 4px solid #66ff44;
}

.txtinput:focus + .labelline,
.txtinput:valid + .labelline,
.txtinput:not(:placeholder-shown) + .labelline {
  top: 0;
  font-size: 1.2em; /* Adjust font size as needed */
  transform: translateY(-50%) scale(0.8);
  color: #66ff44;
}
.has-float-label label, .has-float-label>span{
  left: 15px;
  width: 100px;
  text-align: center;
}
.form-control:focus{
  box-shadow: none;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
 border-radius: 10px !important;
  font-size: 12px;
  margin: 5px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0 10px !important;
}
::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
    position: relative;
    right: 0;
    top: 30% !important;
    color: black !important;
    margin-top: 4px;
    border-style: none !important;
    border-width: 0 !important;
    border-color: transparent !important;
    content: "\2304" !important;
    font-size: 20px;
    font-weight: bold;
}
::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{
    top: 4px !important;
    line-height: 0 !important;
}
::ng-deep .multiselect-dropdown .dropdown-btn{
 height: 45px;
}
::ng-deep .multiselect-dropdown .dropdown-btn{
  line-height: 1.8 !important;
}
.sec{
  min-height: 100vh;
}
.clip-container{
  position: relative;
}
.clip1{

  // clip-path: polygon(52% 0, 100% 0, 48% 100%, 0% 100%);
  clip-path: polygon(52% 0, 100% 0, 51% 100%, 1% 100%);
  background-color: #29A354;
  width: 500px;
  height: 100%;
  position: absolute;
  right: 170px;
}
.clip2{

  // clip-path: polygon(72% 0, 100% 0, 100% 100%, 20% 100%);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 17% 100%);
  background-color:  #FF6F06;
  width: 500px;
  height: 100%;
  position: absolute;
  right: 0;
}
.img-container{
  position:absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
 .img{
  width: 75%;
  position: absolute;
  z-index: 1;

}
@media (max-width:1115px) {
  .clip1{
    clip-path: polygon(52% 0, 100% 0, 51% 100%, 1% 100%);
    background-color: #29A354;
    width: 500px;
    height: 100%;
    position: absolute;
    right: 47px;
  }
  .clip2{
    clip-path: polygon(77% 0, 100% 0, 100% 100%, 33% 100%);
    background-color: #FF6F06;
    width: 500px;
    height: 100%;
    position: absolute;
    right: 0;
  }
}
@media (max-width:992px) {
  .clip1{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    width: 50%;
    left: 0;
  }
  .clip2{
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 50%;
    right: 0;
  }
  .img{
height: 100%;
width: auto;
    position: absolute;
    z-index: 1;

  }
}

.footer{
  &{
    background-color: red;
    padding: 50px 0;
  }
  ul{
    padding-inline-start: 0;
    list-style-type: none;
  }
  .footer-details{
  text-align: center;
  }

}


// .asd{
//   background: blueviolet;
//   height: 400px;


//   .test{

//     display: flex;
//     justify-content: space-evenly;
//     .box{
//       min-width: 250px;
//       background: gold;
//       padding: 20px;
//     }
//   }
// }
.asd {
  position: relative;
  background: blueviolet;
  height: 400px;
}

.test {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.box {
  min-width: 250px;
  border: 1px solid black; /* Add border as needed */
  height: 35px;
}

